<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Compare Table</title>
    <style>
        .label {
            background-color: lightblue;
        }

        td {
            border: 1px solid #ddd;
            padding: 8px;
            width: 100%;
            min-width: 200px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:nth-child(odd) {
            background-color: #fff;
        }
    </style>
</head>
<table>
    {{#each data}}
        <tr>
            <td class="label">{{this.[0]}}</td>
            <td style=>{{this.[1]}}</td>
            <td style=>{{this.[2]}}</td>
        </tr>
    {{/each}}
</table>