<!DOCTYPE HTML>
<html>
<head>
    <style>
        @import url("https://fonts.googleapis.com/css?family=Garamond");

        body {
            background-color: white;
        }

        h1 {
            font-size: 36px;
            text-align: center;
            font-family: "Garamond", serif;
            font-weight: 200;
            margin: 100px 0;
        }
    </style>
</head>
<body>
<h1>Please select a category</h1>
</body>

