<!DOCTYPE HTML>
<head>
    <link rel="shortcut icon"
          href="https://lh3.googleusercontent.com/eLf3Ye78fjSRAVadTWiU_FyN69LKLvuNp_1b7eAnNJlB5BKyNBVqGtZ0Nl2S8k0fk7mXeQ=s113">
    <title>Shop Online</title>
    <link rel="stylesheet" type="text/css" href="css/template.css">
</head>

<body>

<!-- Navbar -->
<div class="navbar">
    <img style="padding: 0!important; margin-inline: 0!important" src="img/temp_logo.jpg">
    <a href="../">Home</a>
    <a href="transparency_index">Transparency Index</a>
    <a href="sustainable">Sustainable Brands</a>
    <a href="map">Store Locator</a>
    <a href="shop" style="background-color: white;">Shop Online</a>
</div>

<script async src="https://cse.google.com/cse.js?cx=fbf73d82128b08fe6"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div id="search_engine">
    <div id='search_box' class="gcse-search"></div>
</div>

<script>
    $("#search_engine").on('DOMSubtreeModified', () => {
        $("#search_box").find(".gsc-adBlock").remove()
    });
</script>

<style>
    .gsc-results {
        background-color: #D9EAD3;
    }
</style>

<body>