<head>
    <script type="text/javascript" src="/path/to/jquery-latest.js"></script>
    <script type="text/javascript" src="/path/to/jquery.tablesorter.js"></script>
</head>
<table class="visualized_table">
    <thead>
    <tr>
        {{#each data.[0]}}
            <th>{{@key}}</th>
        {{/each}}
    </tr>
    </thead>
<tbody>
<tr>
    {{#each data as |row|}}
        {{#each row}}
            <td>{{this}}</td>
        {{/each}}
    </tr>
    {{/each}}
</tbody>
</table>

<script>
    $(function() {
        $(".visualizede_table").tablesorter();
    });
</script>