@import url("https://fonts.googleapis.com/css?family=Garamond");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://lh3.googleusercontent.com/eLf3Ye78fjSRAVadTWiU_FyN69LKLvuNp_1b7eAnNJlB5BKyNBVqGtZ0Nl2S8k0fk7mXeQ=s113");
@import url("https://cdn.onlinewebfonts.com/svg/img_197388.png");

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Garamond", sans-serif;
    font-weight: 200;
}

h1 {
    font-size: 36px
}

/* Dropdown Button */
.dropdown select {
    background-color: #90bb23;
    color: black;
    padding: 16px;
    margin: 16px;
    font-size: 20px;
    border: none;
    font-family: "Garamond", serif;
    border-radius: 10px;
    max-width: 240px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover select {
    background-color: #3e8e41;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.overlay button:hover {
    background-color: #3e8e41;
}

.overlay button {
    background-color: #90bb23;
    color: black;
    padding: 16px;
    margin: 16px;
    font-size: 20px;
    border: none;
    font-family: "Garamond", serif;
    border-radius: 10px;
}

.overlay {
    position: fixed;
    display: none;
    width: 75%;
    height: 75%;
    top: 12.5%;
    background-color: #ffffffaa;
    cursor: pointer;
    margin: 0 180px;
    border: 3px solid lightgray;
    border-radius: 2vh;
    z-index: 100;
    overflow-y:auto;
}

.overlay iframe {
    height: 82%;
    width: 96%;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
}

.navbar {
    position: static;
    background-color: #90bb23;
    height: 72px;
    margin: 24px 16px;
}

.navbar a, .navbar img {
    padding: 12px 40px;
    text-decoration: none;
    cursor: pointer;
    height: inherit;
    display: inline;
    vertical-align: middle;
    font-size: 20px;
    margin-inline: 12px;
    color: black;
}

.tool_bar {
    height: 72px;
    margin: 12px 24px;
}

.tool_bar_item {
    padding: 12px 40px;
    text-decoration: none;
    cursor: pointer;
    display: inline;
    vertical-align: middle;
    font-size: 12px;
    margin: 12px;
    border-style: solid;
    border-color: #07911e;
    background-color: #e1fade;
    border-radius: 10px;
    color: black;
}

#table-search-button {
    width: 50px;
    height: 50px;
    display: inline;
    padding: 15px 5px;
}

.tool_bar_item .search_icon {
    background-image: url("https://cdn.onlinewebfonts.com/svg/img_197388.png");
}

.navbar a:hover {
    color: #000 !important;
    background-color: #fff !important;
}

header {
    text-align: center;
    background-color: #86C5DA;
    padding: 116px 64px;
    margin: 24px 16px;
}

#data_table_container {
    margin: 24px 16px;
    padding: 0 64px;
    height: 80vh;
    width: 80vw;
    align-items: center;
}

.jumbo {
    font-size: 64px !important;
}

.xlarge {
    font-size: 24px !important;
}

body {
    background-image: url("https://www.mandyspizza.com/wp-content/uploads/2017/01/BACKGROUND-Light-Wood-Background.jpg");
}

.visualized_table {
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat, serif;
}

.visualized_table td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    white-space: pre
}

.visualized_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.visualized_table tr:nth-child(odd) {
    background-color: #fff;
}


.visualized_table tr:hover {
    background-color: #ddd;
}

.visualized_table th {
    padding: 12px 5px;
    text-align: left;
    background-color: #86C5DA;
    color: white;
}

#brand_totals_display {
    height: 100%;
    display: grid;
    grid-template-columns:repeat(3, minmax(0, 1fr));
    grid-auto-rows: auto;

    color: white;
}

@media (max-width: 770px) {
    #brand_totals_display {
        grid-template-columns:repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 400px) {
    #brand_totals_display {
        grid-template-columns:minmax(0, 1fr);
    }
}

.section_total {
    height: min(200px, 33vh);
    width: min(200px, 33vw);
    border-radius: 10px;
    padding: 0;
    margin: 5px;
    justify-self: center;
    text-align: center;
}

.bigger_font {
    font-size: 40px;
}

.section_total:hover {
    filter: brightness(115%);
    cursor: pointer;
}

.popup_header {
    text-align: center;
    font-size: 36px;
}

.right-align {
    float: right;
}